<button mat-raised-button>mat-raised-button</button>
<button class="mat-primary" mat-raised-button>primary</button>
<button class="mat-accent" mat-raised-button>accent</button>
<button class="mat-warn" mat-raised-button>warn</button>
<button class="mat-button-disabled" mat-raised-button>disabled</button>
<hr>
<button class="mat-primary" mat-stroked-button>Нажми меня</button><strong> mat-stroked-button</strong>
<hr>
<button class="mat-primary" mat-flat-button>Нажми меня</button><strong> mat-flat-button</strong>
<hr>
<button mat-mini-fab>+1</button><strong> Добавить</strong>
<hr>


<div>
  <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>{{toggleBtn.checked}}
</div>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>
<hr>


<div>
  <mat-button-toggle-group #toggleGroupMultiple="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroupMultiple.value}}
</div>


